# Entornos virtuales
venv/
env/
.venv/
venv*/
env*/
.venv*/

# Alembic
alembic.ini

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# FastAPI
*.pyc
*.pyo
*.pyd

# Entornos de desarrollo
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Archivos de configuración local
.env
.env.local
.env.dev
.env.prod
.env.test

# Logs y bases de datos
*.log
*.sqlite
*.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos de sistema
Thumbs.db